<h1 class="heading">List of all Tasks</h1>

<div class="container">
  <div class="container-box">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <%= link_to "Add Task", new_task_path, class: "btn btn-success" %>
      </div>
      <div class="col-xs-4 col-xs-offset-1 sort-btn">
        <%= link_to "Sort By Date", tasks_date_path, class: "btn btn-warning" %>
      </div>
      <div class="col-xs-2 logout-btn">
        <div class="add-btn">
          <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-info" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr class="style18">
        <small>Click on the task name to see more details</small>
      </div>
    </div>

    <% @categories.each do |cat| %>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <h3 class="category"><%= cat.name %></h3>
        </div>
      </div>
      <ul>
        <% @tasks.each do |task| %>
          <% if task.category_id == cat.id %>
          <li>
            <div class="row" id="task_<%= task.id %>">
              <div class="col-sm-4 col-sm-offset-1">
                  <%= link_to "#{task.task_name}", task_path(task), class: "task" %>
                </div>
              <div class="col-sm-2 ">
                <%= link_to "Edit", edit_task_path(task), class: "btn btn-primary" %>
              </div>
              <div class="col-sm-2">
                <%= link_to "Delete", task_path(task),remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger " %>
              </div>
              <div class="col-sm-3 ">
                <%= task.task_due.strftime("%B %d, %Y") %>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
