      <%= render "newform" %>
      <div class="col-xs-3 col-xs-offset-1" id="sort-btn">
        <%= link_to "Sort By Category", tasks_path, class: "btn btn-warning" %>
      </div>
      <div class="col-xs-2 col-xs-offset-1 logout-btn">
        <div class="add-btn">
          <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-info" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr>
      </div>
    </div>
    <% @months.each do |mth| %>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h3 class="category"><%= mth %></h3>
          <hr>
        </div>
      </div>
      <ul>
        <% @tasks.each do |task| %>
         <% if task.task_due.strftime("%B") == mth%>
          <li>
            <div class="row" id="task_<%= task.id %>">
              <div class="col-sm-3 col-sm-offset-1">
                <h4><%= task.task_name %> <span id="category">- <%= task.category.name %></span></h4>
              </div>
              <div class="col-sm-2">
                <ul class="hidden-ul">
                  <li class="task-name hidden-data"><%= task.task_name %></li>
                  <li class="task-description hidden-data"><%= task.task_description %></li>
                  <li class="task-category hidden-data"><%= task.category.name %></li>
                  <button type="button" class="btn btn-secondary btn-block info-btn" data-toggle="modal" data-target="#infoModal">
                    More Info
                  </button>`
                </ul>
                <%= render "info" %>
              </div>
              <!-- End of More Info Modal -->
              <div class="col-sm-1 ">
                <ul class="hidden-ul">
                  <li class="task-name hidden-data"><%= task.task_name %></li>
                  <li class="task-description hidden-data"><%= task.task_description %></li>
                  <li class="task-category hidden-data"><%= task.category.name %></li>
                  <li class="task-dueday hidden-data"><%= task.task_due.day %></li>
                  <li class="task-duemonth hidden-data"><%= task.task_due.month %></li>
                  <li class="task-dueyear hidden-data"><%= task.task_due.year %></li>
                  <button type="button" class="btn btn-primary btn-block edit-btn" data-toggle="modal" data-target="#editModal<%= task.id %>">
                    Edit
                  </button>
                </ul>
                <%= form_for task do |f| %>
                <div class="modal fade" id="editModal<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Edit Task</h3>
                      </div>
                      <div class="modal-body">
                        <div class="field">
                          <%= f.label :task_name, "Task Name" %><br>
                          <%= f.text_field :task_name, class: "form-control submit-form task_name"%>
                        </div>
                        <div class="field">
                          <%= f.label :task_description, "Task Description" %><br>
                          <%= f.text_field :task_description, class: "form-control submit-form task_description",  placeholder: "Add Task Description"%>
                        </div>
                        <div class="field">
                          <%= f.label :category, "Category" %><br>
                          <%= f.text_field :category, class: "form-control submit-form task_category"%>
                        </div>
                        <div class="field">
                          <%= f.label :task_due, "Task Due" %><br>
                          <%= date_select :task, :task_due, order: [:day, :month, :year] %><br>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <%= f.submit "Edit Task", class:"btn-primary btn" %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="col-sm-1">
                <%= link_to "Delete", task_path(task),remote: true, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block" %>
              </div>
              <div class="col-sm-3 col-sm-offset-1">
                <%= task.task_due.strftime("%B %d, %Y") %>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
