<% if @user.errors.any? %>
  <div class="container">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="alert alert-danger" role="alert">
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<h1 class="heading">Sign Up</h1>

<%= form_for @user do |f| %>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="form-group">
        <%= f.label :username, "Username" %><br>
        <%= f.text_field :username, class: "form-control", id: "exampleInputEmail1", placeholder: "Enter your username"%>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="form-group">
          <%= f.label :password, "Password" %><br>
          <%= f.password_field :password, class: "form-control", id: "exampleInputEmail1", placeholder: "Enter your password"%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="form-group">
          <%= f.label :confirm_password, "Confirm your password" %><br>
          <%= f.password_field :confirm_password, class: "form-control", id: "exampleInputEmail1", placeholder: "Confirm your password"%>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <%= f.submit "Create Your Account", class:"submit-btn btn-primary btn" %>
            <% end %>
        </div>
      </div>
</div>
